@using TaskManagement.ViewModels
@model TeamViewModel 
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="row">
        <form asp-action="Add" data-ajax-method="POST">
            <div class="col-md-12">
                <!--begin::Modal title-->
                <h2 class="text-center mb-4">Add New Team</h2>
                <div class="fv-row mb-7 fv-plugins-icon-container">
                    <div class="form-floating mb-7">
                        <input type="text" class="form-control form-control-solid" asp-for="TeamName" placeholder="TeamName" maxlength="50" disabled="@(!string.IsNullOrEmpty(Model.TeamName) ? "disabled" : null)" />
                        <label asp-for="TeamName" class="text-muted"></label>
                        <span asp-validation-for="TeamName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-7">
                        <input type="text" class="form-control form-control-solid" asp-for="Description" placeholder="TeamDescription" maxlength="50" disabled="@(!string.IsNullOrEmpty(Model.Description) ? "disabled" : null)" />
                        <label asp-for="Description" class="text-muted"></label>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <partial name="_ModalFooter" />
            </div>
        </form>
    </div>
</div>

