@using TaskManagement.ViewModels
@model CommentViewModel



<div class="row">
    <form asp-action="AddComment" method="POST" novalidate="novalidate">
        <input hidden asp-for="TaskId" />
        <div class="col-md-12">
            <div class="d-flex flex-column-fluid">
                <div class="container px-0">
                    <div class="card">
                        <div class="card-header py-4">
                            <div class="card-title">
                                <div class="card-label">
                                    <div class="symbol symbol-50px w-50px bg-light me-5">
                                        <span class="symbol-label">
                                            <span class="svg-icon svg-icon-primary svg-icon-2x">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <polygon points="0 0 24 0 24 24 0 24" />
                                                        <path d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="currentColor" fill-rule="nonzero" opacity="0.3" />
                                                        <path d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="currentColor" fill-rule="nonzero" />
                                                    </g>
                                                </svg>
                                            </span>
                                        </span>
                                    </div>
                                    <span class="fw-bolder">
                                        Add Comment
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="my-5">
                                        <div class="row mt-3">
                                            <div class="col-md-5 fv-row mb-7 fv-plugins-icon-container" id="teamDropdownContainer">
                                                <label asp-for="Comment"></label>
                                                <textarea class="form-control form-control-solid" rows="2" style="height: 100px" placeholder="Add Your Comment" asp-for="Comment" maxlength="2500"></textarea>
                                                <span asp-validation-for="Comment" class="fv-plugins-message-container invalid-feedback"></span>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary fw-bolder" id="submitbtm">
                                            <i class="bi bi-check-lg"></i>Save
                                        </button>
                                    </div>
                                </div>
                                <div class="col-xl-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
